*{margin:0;padding:0;box-sizing: border-box;}

html{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.calculator{
    border: solid 1px black;
    padding: 23px;
    border-radius: 10px;
    width: 15rem;
    margin: 0 auto;

    background-color: rgb(193, 221, 255);
    border-style: outset;
    border-width: 5px;
    border-color: rgba(2,2,2,0.3);
    overflow: hidden;
}

.display{
    border: 1px solid black;
    border-radius: 10px;
    min-height: 70px;
    margin-bottom: 30px;
    padding: 5px 15px;
    display: flex;
    align-items: end;
    justify-content: end;
    background-color: rgb(45, 45, 45);
    color: white;
    font-size: 20px;
    flex-wrap: wrap; 
    word-break: break-all; /* This forces long numbers to break and wrap */
}

.buttonsContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto;
    gap: 5px; 
}

.buttonsContainer button{
    background-color: gray;
    color: yellow;
    padding: 0.5em;
    text-align: center;
    font-size: 1.5rem;
    
    border-radius: 8px;
    border-style: outset;
    border-width: 3px;
    border-color: #222;
}

button:hover{
    cursor: pointer;
    position:relative;
    bottom: 1px;
    transition: 2s ease-in-out;
}
