:root {
    --blue-bg: rgb(193, 221, 255);
    --border-rad: 10px;
    --border-color: rgba(2,2,2,0.3); 
    --display-bg: rgb(45, 45, 45);
    --btns-bg: gray;
    --btnText-color: yellow;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
    height: 100%;
}

body {
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    min-width: 300px;
    flex-direction: row;
}


.arrow {
    display: none;
    width: 120px; 
    text-align: center;
}


/* Most modern smartphones are between 360px and 430px wide */
.calculator {
    background-color: var(--blue-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    max-width: 350px;
    width: 95%;

    padding: 3rem;

    border-radius: var(--border-rad);
    border-style: outset;
    border-width: 5px;    
    border-color: var(--border-color);
    overflow: hidden;
}

.display {
    border-radius: var(--border-rad);
    min-height: 8rem;
    padding: 1rem;
    
    display: flex;
    align-items: end;
    justify-content: flex-end;

    background-color: var(--display-bg);
    color: white;
    font-size: 3rem;
    flex-wrap: wrap; 
    word-break: break-all; /* This forces long numbers to break and wrap */
}

.buttonsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    gap: 0.8rem;
}

.buttonsContainer button {
    background-color: var(--btns-bg);
    color: var(--btnText-color);

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem 0.5rem;
    font-size: 2.2rem;

    border-radius: 8px;
    border: none;

    box-shadow: 0px 0px 1px 1px white;
    
}

#deleteBtn, #expBtn{
    font-size: 1.5rem;
}

button:hover{
    cursor: pointer;
    position: relative;
    bottom: 1px;
    transition: 0.2s ease-in-out;
}

@media (min-width: 768px) {

    body {gap: 4rem;}

    .arrow {
        display: block;
        font-size: 8rem;
    }.moveLeft{
        justify-content: flex-start;
        padding-left: 30px;
    }
    .moveRight{
        justify-content: flex-end;
    }
}

@media (min-width: 1024px){     
    .buttonsContainer { gap: 1.1rem; }
    .arrow {display: none;}
    

    /* make the buttons and the texts bigger for this media */
}

/* arrow styles for functions */

.arrow:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.moveCenter{
    justify-content: center;
}

.hidden{
    display: none;
}

/* end of arrow styles */