*{margin:0;padding:0;box-sizing: border-box;}

html{
    display: flex;
    justify-content: center;
}

.calculator{
    border: solid 1px black;
    padding: 25px;
    border-radius: 10px;
    max-width: 400px;
    width: 100vh;
    height: 70vh;
    margin: 20px;
}

.display{
    border: 1px solid black;
    border-radius: 10px;
    min-height: 70px;
}

.buttons-container{

}

.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 60px 60px 60px 60px;
    gap: 5px;
}



.buttons button{

}
